---
import ContentPage from "../layouts/ContentPage.astro";
import { Icon } from "astro-icon";
import ContentPageTitle from "../components/ContentPageTitle.astro";
---

<ContentPage title="Ingo Krumbein | About">
  <ContentPageTitle title="About" />

  <p class="mt-10 text-xl">
    I started programming about 15 years ago. <br />
    Back in the days i learned Visual Basic 6 and VB.NET.
    <br />
    After some time i realized that Visual Basic only works on Windows machines.
    And since i wanted my apps to work on all distributions i came across web development.
    I then started learning HTML, CSS, PHP and MySQL all by myself. After school
    i started studying Information Technology and worked a little bit as a kind of
    Freelancer. In 2014 i started my professional career.
  </p>

  <p class="mt-10 text-xl">
    In Nov. 2021 i became a Dad. It completely changed my Life but i am more
    than proud and happy to be dad of the cutest girl in the world.{" "}
    <Icon name="fa-regular:heart" color="red" class="inline" size={20} />
    <br />
    In Oct. 2022 i finally married my wife! I{" "}
    <Icon name="fa-regular:heart" color="red" class="inline" size={20} /> U!
    <br />
  </p>

  <p class="mt-10 pb-10 text-xl">
    When i find the time i enjoy taking photos, spent time with friends and do
    other typical stuff.
  </p>
</ContentPage>
