---
import ContentPageTitle from "../components/ContentPageTitle.astro";
import SocialButtons from "../components/SocialButtons.astro";
import ContentPage from "../layouts/ContentPage.astro";
import contactImage from "../assets/contact.svg";
---

<ContentPage title="Ingo Krumbein | Contact">
  <ContentPageTitle title="Contact" />

  <p class="py-6">
    Feel free to contact me by sending an email to
    <a href="mailto:website@ingo-krumbein.de?subject=Kontaktaufnahme">
      website(at)ingo-krumbein(dot)de
    </a>
    or via one of the social platforms
  </p>

  <SocialButtons />

  <div class="w-full hidden md:flex items-center justify-center">
    <img src={contactImage.src} class="w-1/2 opacity-30" />
  </div>
</ContentPage>
