---

---

<a class="cursor-pointer px-2 font-medium capitalize" href="/about">About</a>
<a class="cursor-pointer px-2 font-medium capitalize" href="/work">Work</a>
<a class="cursor-pointer px-2 font-medium capitalize" href="/tech">Tech</a>
<a class="cursor-pointer px-2 font-medium capitalize" href="/contact">Contact</a
>
