---
import { Icon } from "astro-icon";
---

<div class="mt-10 flex gap-4">
  <a
    href="https://www.linkedin.com/in/ingo-k-129a32196/"
    target="_blank"
    rel="noreferrer"
  >
    <Icon
      name="fa-brands:linkedin"
      size={32}
      class="cursor-pointer duration-200 hover:scale-110 hover:text-[#2D64BC]"
    />
  </a>
  <a
    href="https://www.xing.com/profile/Ingo_Krumbein"
    target="_blank"
    rel="noreferrer"
  >
    <Icon
      name="fa-brands:xing-square"
      size={32}
      class="cursor-pointer duration-200 hover:scale-110 hover:text-[#BFDD63]"
    />
  </a>
  <a href="https://github.com/Jings" target="_blank" rel="noreferrer">
    <Icon
      name="fa-brands:github-square"
      size={32}
      class="cursor-pointer duration-200 hover:scale-110 hover:text-black"
    />
  </a>
  <a href="https://patreon.com/IngoKrumbein" target="_blank" rel="noreferrer">
    <Icon
      name="fa-brands:patreon"
      size={32}
      class="cursor-pointer duration-200 hover:scale-110 hover:text-[#ff424d]"
    />
  </a>
  <a href="mailto:website@ingo-krumbein.de?subject=Kontaktaufnahme">
    <Icon
      name="fa-regular:envelope"
      size={32}
      class="cursor-pointer duration-200 hover:scale-110 hover:text-[#BE5442]"
    />
  </a>
</div>
